footer{
  background: #2a2730;
}
.footerContenedor{
  padding: 30px;
}
.imagenesSection3{
  position: relative;
  width: 100%;
  left:10%;
}

.imagenesSection3 img{
  display: inline-block;
  width: 20%;
  height: 25%;
}
.separador hr{
  width: 100px;
  opacity: 0.2;
  margin:3% auto;
}

.separador{
  align-items: center;
}

.botonExplorer{
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: #563d7c;
  width: 200px;
  border: 1px solid #563d7c;
  border-radius: 10px 10px;
  margin: 10px auto;
  padding: 10px;
}
.botonExplorer:hover{
  cursor: pointer;
  background: #563d7c;
  color: white;
}
