body{
  font-family: sans-serif;
}
footer{
  background: #2a2730;
  color: white;
}
.footerContenedor{
  padding: 30px;
  position: relative;
}
.footerLi{
  display:inline-block;
  margin: 10px;
}
.footerA{
  color: white;
  font-weight: 100;
  text-decoration: none;
}
#footerP{
  color:#99979c;
  margin-left: 4%;
}
